<div class="newGroup">
    <div class="header">
        <h3>יצירת קבוצה חדשה</h3>
    </div>
 
    <div class="groupNameContainer" [(ngModel)]="groupName">
        <div>שם קבוצה:</div>
        <input class="groupNameInput">
    </div>

    <div class="sliderContainer">
        <div class="sliderHeader" >מספר משולשים התחלתי:</div>
        <div class="sliderLine">
            <igx-slider id="slider" [minValue]="1" [maxValue]="800" [continuous]=true [(ngModel)]="startNumberOfSlices" ></igx-slider>
        </div>
    </div>
    <div class="fieldsContainer">
        <div class="locationContainer">
            <div>מיקום:</div>
            <div class="location">{{getLocationHebrewName(userService.GetCurrentUser().location)}}</div>
        </div>

        <div class="kosherContainer">
            <div>כשרות</div>
            <mat-checkbox class="kosherCheckBox" [(ngModel)]="isKosher">
            </mat-checkbox>
        </div>

        <div class="expirationDateContainer">
            <div>תאריך סיום:</div>
            <mat-form-field class="expirationDate">
                <input matInput [matDatepicker]="myDatepicker">
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div>
            <button class="confirmButton" type="button">צור</button>
        </div>
    </div>
</div>