<div class="pizzaContainer">
    <div class="pizzaBackground"></div>
    <div id="pizzaSlice{{i+1}}" *ngFor="let person of pizzaBuilderService.personsInOrder; let i=index" class="hold">
      <!-- <div class="pizza{{slice}}" *ngFor="let slice of Arr(person.slices).fill(2)" [ngStyle]="{'transform': 'rotate(calc(45deg * slice))'}"></div> -->
      <div class="pizza" [ngStyle]="{'transform': 'rotate(calc(45deg * (i+2)))'}"></div>
    </div>
    <!-- <div id="pizzaSlice2" class="hold"><div class="pizza"></div></div>
    <div id="pizzaSlice3" class="hold"><div class="pizza"></div></div>
    <div id="pizzaSlice4" class="hold"><div class="pizza"></div></div>
    <div id="pizzaSlice5" class="hold"><div class="pizza"></div></div>
    <div id="pizzaSlice6" class="hold"><div class="pizza"></div></div>
    <div id="pizzaSlice7" class="hold"><div class="pizza"></div></div>
    <div id="pizzaSlice8" class="hold"><div class="pizza"></div></div> -->
    <div class="innerCircle"><div class="content"></div></div>
  </div>