<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> התחבר </h2>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="שם מלא">
      <mat-form-field>
        <!--<mat-label>Favorite food</mat-label>-->
        <mat-select>
          <mat-option *ngFor="let food of options" [value]="food">
            {{food}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover">פיצה מסטר</a>
    </div>

  </div>
</div>
