<div *ngIf="groupService.IsGroupSelcted()" style="height: 100%;width: 50%;display: flex;margin-right:2%;">
  <div class="users" style="width: 33%;">
    <h3 style="width:300px;margin-bottom: 50px;">חברי הקבוצה</h3>
    <div class="user" *ngFor="let user of groupService.SelectedGroup.buyingUsers">
      <span>{{user.name}}</span>
      <span>--{{user.slices}}--</span>
    </div>
  </div>

  <app-pizza-builder style="width: 20%;margin-top:10%;"></app-pizza-builder>
  <div style="margin-top: 31%; position: absolute">
      
      <button mat-button mat-raised-button class="confirmButton" style="width:115px;margin-right: 15px">הזמן מגש </button>
      <button mat-button mat-raised-button class="confirmButton" style="width:115px;">צא מהקבוצה </button>


  </div>
</div>
<app-pizza-loader *ngIf="userService.GetIsLoading()"></app-pizza-loader>
